{% extends "layout.html" %}
{% block body %}
      <main>
        <section class="text-gray-400 body-font bg-gray-900">
            <div class="container px-5 py-24 mx-auto">
              <div class="flex flex-wrap w-full mb-20">
                <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
                  <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-white">{{params["sub_heading"]}}</h1>
                  <div class="h-1 w-20 bg-blue-500 rounded"></div>
                </div>
                <p class="lg:w-1/2 w-full leading-relaxed text-gray-400 text-opacity-90">All who are ready to push it to the next level should consider a gym membership today.</p>
              </div>
              <div class="flex flex-wrap -m-4">
                <div class="xl:w-1/4 md:w-1/2 p-4">
                  <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
                    <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://source.unsplash.com/random/720×400/?zumba" alt="content">
                    <!-- <h3 class="tracking-widest text-blue-400 text-xs font-medium title-font">SUBTITLE</h3> -->
                    <h2 class="text-lg text-white font-medium title-font mb-4">Zumba</h2>
                    <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche.</p>
                  </div>
                </div>
                <div class="xl:w-1/4 md:w-1/2 p-4">
                  <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
                    <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://source.unsplash.com/random/721×401/?Muscle,gym" alt="content">
                    <!-- <h3 class="tracking-widest text-blue-400 text-xs font-medium title-font">SUBTITLE</h3> -->
                    <h2 class="text-lg text-white font-medium title-font mb-4">Weight Training</h2>
                    <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche.</p>
                  </div>
                </div>
                <div class="xl:w-1/4 md:w-1/2 p-4">
                  <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
                    <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://source.unsplash.com/random/722×402/?martialarts" alt="content">
                    <!-- <h3 class="tracking-widest text-blue-400 text-xs font-medium title-font">SUBTITLE</h3> -->
                    <h2 class="text-lg text-white font-medium title-font mb-4">MMA</h2>
                    <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche.</p>
                  </div>
                </div>
                <div class="xl:w-1/4 md:w-1/2 p-4">
                  <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
                    <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://source.unsplash.com/random/723×403/?cardio" alt="content">
                    <!-- <h3 class="tracking-widest text-blue-400 text-xs font-medium title-font">SUBTITLE</h3> -->
                    <h2 class="text-lg text-white font-medium title-font mb-4">Cardio</h2>
                    <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche.</p>
                  </div>
                </div>
              </div>
            </div>
          </section>
      </main>
      {% endblock %}
     