{% extends "layout.html" %}
{% block body %}
<section class="text-gray-400 bg-gray-900 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap">
      <h2 class="sm:text-3xl text-2xl text-white font-medium title-font mb-2 md:w-2/5">{{post.title}}</h2>
      <div class="md:w-3/5 md:pl-6">
        <p class="leading-relaxed text-base">{{post.content,fill}}</p>
        <div class="flex md:mt-4 mt-6">
          
          </a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}